@font-face {
    font-family: 'BebasNeue';
    src: url('../font/BebasNeue.otf') format('opentype');
}

body,
html {
    height: 100%;
    margin: 0;
}

textarea {
    font: 100% BebasNeue;
    border-radius: 5px;
}

input[type="text"] {
    border-radius: 5px;
    padding: 10px;
}


/*============side nav========================*/

.hamburger {
    cursor: pointer;
    color: #ec9b13;
    font-size: 40px;
    position: fixed;
    margin: 15px;
    border-radius: 10px;
    z-index: 50;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.1);
}

.hamburger:hover {
    color: #555;
}

.sidenav {
    font-size: 40px;
    right: 25px;
    position: absolute;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 200;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    top: 0;
}

.sidenav a {
    color: #ec9b13;
    display: block;
    text-shadow: 2px 2px 2px #333;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 15px 15px 50px;
    transition: 0.5s;
}

.sidenav .closebtn {
    right: 25px;
    position: absolute;
    top: 0;
    font-size: 40px;
}

a.page-links:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
}

.hr {
    margin-left: 0;
    margin-right: 0;
    border: solid 2px #ec9b13;
    box-shadow: 2px 2px rgba(128, 128, 128, 0.4);
}

.layer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .3s;
    z-index: 100;
}

.openmenu .layer {
    top: 0;
}


/*text-----------------------------*/

h1,
.page-links {
    font-family: BebasNeue;
}

.h1-white {
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000;
}

.grey-bg {
    background-color: #909090;
    border-radius: 5px;
    padding: 8px;
}


/*flex----------------------------*/

.flex-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}