.hangman-text {
    font: 40px bolder;
    text-align: center;
}

.hangman-container {
    border: 10px solid #000;
    height: 329px;
    width: 400px;
    padding-top: 10px;
}

#platform,
#theman-container,
#embracer,
#rope,
#head,
#h-body,
#arms,
#legs,
#face {
    display: none;
}

#platform,
#theman-container {
    height: 200px;
}

#platform {
    width: 200px;
}

#platform,
#theman-container,
#arms,
#legs {
    border-top: 10px solid #000;
}

#theman-container,
#h-body {
    border-left: 10px solid #000;
}

#platform {
    border-radius: 50%;
}

#theman-container {
    width: 166px;
    margin-left: 94px;
}

#embracer {
    border-right: 10px solid #000;
    height: 100px;
    width: 80px;
    transform: rotate(47deg);
    margin: -45px 0 0 -33px;
}

#rope {
    border-right: 7px dotted #000;
    height: 50px;
    margin-top: -48px;
}

#head {
    border: 5px solid #000;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 128px;
}

#h-body {
    height: 60px;
    width: 100px;
    margin: -1px 0 0 149px;
}

#arms {
    border-right: 10px solid #000;
    height: 56px;
    width: 60px;
    transform: rotate(-40deg);
    margin: -48px 0 0 120px;
}

#legs {
    border-right: 10px solid #000;
    height: 70px;
    width: 74px;
    transform: rotate(-40deg);
    margin: -5px 0 0 113px;
}

#face {
    color: #000;
}


/*====================== Text ============*/

.letters-to-fill {
    display: flex;
    width: 100%;
    justify-content: center;
}

.correct {
    border-bottom: 10px solid #000;
    height: 50px;
    width: 70px;
    margin: 10px;
    font: bold 40px arial;
    text-align: center;
}

#undefinedChar {
    color: #ff0000;
}

#undefinedChar,
.wrong {
    text-align: center;
}

.wrong,
#alreadyPressed {
    color: #ff0000;
    font: 900 30px arial;
}


/*=======================Flex================*/

.hangflex-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}