html, body {
   margin: 0;
   padding: 0;
   height: 100%;
}

/*.first-container {
height: 500px;
width: 100%;
}
*/
.background {
   background: url('../img/daniel gbg copy.jpg') no-repeat 50% 38%;
   background-size: cover;
  /* image-rendering: crisp-edges;*/
   height: 600px;
  
   /*height: 30%;*/
}

h1 {
  color: #fff;
}