@font-face {
    font-family: 'BebasNeue';
    src: url('../font/BebasNeue.otf') format('opentype');
}

@font-face {
    font-family: 'digital-7';
    src: url('../font/digital-7.ttf') format('opentype');
}

* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}


/***************** validate ********************/

#nameError,
#phoneError,
#emailError {
    color: #ff0000;
}

.layer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .3s;
    z-index: 100;
}

.openmenu .layer {
    top: 0;
}

.contact-form {
    margin-bottom: 200px;
    background-color: #fff;
    box-shadow: 2px 4px 15px;
}


/*sidebar=================================*/

.hamburger {
    position: fixed;
    margin: 15px;
    border-radius: 10px;
    z-index: 50;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.1);
}

.hamburger,
.sidenav a {
    color: #ec9b13;
}

.hamburger:hover {
    color: #555;
}

.hamburger,
.like-button span,
.fa.fa-plus-circle,
.sidenav .closebtn,
.like-button span.nr2 {
    font-size: 40px;
}

.sidenav .closebtn {
    right: 25px;
    position: absolute;
}

.sidenav,
.sidenav .closebtn {
    top: 0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 200;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidenav a,
img {
    display: block;
}

.sidenav a {
    text-shadow: 2px 2px 2px #333;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 15px 15px 50px;
    transition: 0.5s;
}

a.page-links:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
}


/*end of sidebar=====================================*/


/*index page----=====================================*/

.h1-index-grey {
    color: #555;
    font-size: 54px;
}

.index-profile {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.p-contact {
    align-self: center;
}

.h1-index-yellow,
.h1-about {
    color: #ec9b13;
    text-shadow: 2px 2px 5px #555;
}


/*end of index-=====================================*/


/*resume page--=====================================-*/

.hr {
    margin-left: 0;
    margin-right: 0;
    border: solid 2px #ec9b13;
    box-shadow: 2px 2px rgba(128, 128, 128, 0.4);
}

h1,
h2,
p,
li {
    font-family: BebasNeue;
}

.h1-col,
.li-education,
p,
.like-button span.nr2 {
    color: #808080;
}

.h1-col {
    font-size: 70px;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

h2 {
    color: #606060;
}

p {
    font-size: 120%;
}

.grey-pants {
    background-image: url('../img/greyPantsBackground.png');
}

.grey-pants,
.project {
    border-radius: 5px;
}

.project {
    box-shadow: 0 5px 10px;
    padding: 15px;
}

.project,
.like-button {
    border: none;
}

li {
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(23, 23, 23, 0.83);
}

.li-education {
    text-shadow: none;
    list-style: none;
}

a {
    color: #ec9b13;
}

a,
a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(23, 23, 23, 0.83);
}

a:hover,
a:visited,
a:active,
a:focus {
    color: #b8860b;
}


/*EXPAND FUNCTION=========*/

.fa.fa-plus-circle {
    margin-left: 20px;
}

.open {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transition: transform .3s;
}

.close-expand {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: transform .6s;
    float: none;
}


/*END OF EXPAND===========*/


/*end of resume.php---------*/


/*Start of about page--------*/

.h1-header-class,
.h1-header-about {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    top: 25%;
}

.h1-flex-class,
.h1-flex-about {
    font-size: 156px;
    color: rgba(236, 155, 19, 0.6);
    text-shadow: 2px 8px 10px #808080;
    -webkit-box-flex: 1;
    width: 20%;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}


/*footer================================*/

footer {
    background-image: url('../img/whitewoodBackground.png');
    border-top: 5px solid #555;
    box-shadow: 2px 17px 50px #333 inset;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

footer,
footer li a,
.like-button span:hover {
    color: #fff;
}

footer li {
    list-style: none;
}


/*flex-grid==============================*/

.flex-container,
.flex-row,
.flex-row-2,
.flex-col-img,
.flex-col-img2,
.flex-col-img-center,
.flex-col-card,
.flex-footer,
.like-block,
.like-button {
    display: table-cell;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-container {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.flex-row,
.flex-row-2 {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-row,
.flex-col-card {
    margin: 0 10px 10px 10px;
}

.flex-row-2,
.flex-col-img,
.flex-col-img2,
.flex-col-card,
.flex-footer {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.flex-row-2,
.like-block {
    -webkit-justify-content: center;
    justify-content: center;
}

.flex-row-2 {
    margin: 0 20% 10px 20%;
}

.flex-col,
.flex-col-2,
.flex-col-card,
.flex-footer {
    padding: 15px;
}

.flex-col,
.flex-col-center-cl,
.flex-col-img2,
.flex-col-img-center {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.flex-col-center-cl,
.flex-col-img-center {
    -webkit-align-self: center;
    align-self: center;
}

.flex-col-img,
.flex-col-img2 {
    position: relative;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
}

.flex-col-img-center {
    -webkit-justify-content: space-around;
    justify-content: space-around;
    margin: 0 0 10px 0;
}

.flex-col-card {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 30%;
    -ms-flex: 1 0 30%;
    flex: 1 0 30%;
}

.flex-col-card p {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.flex-footer {
    -webkit-box-flex: 1;
    -webkit-flex: 0 1 290px;
    -ms-flex: 0 1 290px;
    flex: 0 1 290px;
}


/*jquery plugin social media---------*/

.like-block,
img {
    width: 100%;
}

.like-block {
    position: absolute;
}

.like-button,
.hamburger {
    cursor: pointer;
}

.like-button {
    background-color: transparent;
}

.like-button span {
    color: #333;
}

.like-button span,
.like-button span.nr2 {
    padding: 20px;
}

.like-button span:hover {
    transition: ease-in-out 0.4s;
}


/*CountDown====================*/

table {
    border-spacing: 15px 0;
}

tbody {
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 10px #000;
    background-color: rgba(255, 255, 255, 0.3);
    width: 665px;
}

.count-down-lia,
.count-down-exam {
    position: absolute;
    font: 100px BebasNeue;
    color: rgba(255, 255, 255, 0.8);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    right: 5%;
}

.count-down-lia {
    top: 20%;
}

.count-down-exam {
    top: 48%;
}

.time-text,
.time-text1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
}

.time-text {
    text-align: center;
}

.digits {
    font: 100px digital-7;
    color: rgba(236, 155, 19, 0.8);
    text-shadow: 2px 2px #555;
}


/*CountDown Finnished========================*/


/*media queries==============================*/

@media (max-width: 800px) {
    .flex-col-img-center {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .h1-header-about {
        -webkit-flex-direction: row;
        flex-direction: row;
        align-self: center;
        top: 0;
    }
    .h1-flex-class {
        font-size: 100px;
    }
    tbody {
        width: 44%;
        text-shadow: 1px 1px #000;
        padding: 0;
    }
    .digits {
        font-size: 45px;
        text-shadow: 1px 1px #555;
    }
    .time-text,
    .time-text1 {
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .h1-flex-about {
        font-size: 70px;
        padding: 0;
    }
    .h1-flex-class {
        font-size: 50px;
    }
    .count-down-lia {
        top: 10%;
    }
    .count-down-exam {
        top: 41%;
    }
    table {
        border-spacing: 3px 0;
    }
    .digits {
        font-size: 15px;
        text-shadow: 1px 1px #555;
    }
    .time-text,
    .time-text1 {
        font-size: 7px;
    }
    tbody {
        width: 31%;
        text-shadow: 1px 1px #000;
        padding: 2px;
    }
    .index-profile {
        align-self: center;
    }
    .flex-row-2 {
        margin: 10px;
    }
}

@media (max-width: 400px) {
    .flex-container {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
    }
    .h1-col {
        font-size: 40px;
    }
    .flex-row {
        -webkit-flex-direction: column;
        flex-direction: column;
        margin: 0 0 10px 0;
    }
    .flex-col-card {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .like-block {
        background-color: transparent;
    }
    .like-button span,
    .like-button span.nr2 {
        color: #808080;
        padding: 10px;
        font-size: 30px;
    }
    .h1-flex-about {
        font-size: 70px;
        padding: 0;
    }
    .count-down-lia {
        top: 10%;
    }
    .count-down-exam {
        top: 41%;
    }
    table {
        border-spacing: 10px 0;
    }
    tbody {
        width: 42%;
        text-shadow: 1px 1px #000;
        padding: 0;
    }
    .digits {
        font-size: 15px;
        text-shadow: 1px 1px #555;
    }
    .time-text,
    .time-text1 {
        font-size: 7px;
    }
    .flex-row-2 {
        margin: 10px;
    }
    .h1-header-about {
        align-self: center;
        top: 0;
    }
    .h1-flex-class {
        font-size: 50px;
    }
}

@media (max-width: 320px) {
    table {
        border-spacing: 7px 0;
    }
    .h1-flex-about {
        font-size: 56px;
    }
    .h1-header-class {
        top: 15%;
    }
}